html {
    scroll-behavior: smooth; 
  }

*{
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    /* font-family: 'Roboto', sans-serif; */
}

.photo{
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

.nav-list{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
